@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700');

:root {
  --main-color: #673ab7;
  --secondary-color: #ffc710;

  --bright-color: #fcfcfc;
  --brighter-color: #fcfcfc80;
  --dark-color: #333333;

  --gray-one-color: #666666;
  --gray-two-color: #999999;

  --error-color: #ff3e5f;
  --success-color: #54c465;
  --placeholder-color: #fcfcfc30;
  
  --border-radius-low: 8px;
  --border-radius-mid: 16px;
  --border-radius-high: 24px;
  --container-width: 800px;
}

* {
  font-family: Roboto Mono, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1;
  color: var(--bright-color);
}

button, input {
  font-family: Roboto Mono, sans-serif;
  border: none;
  outline: none;
  color: var(--bright-color);
  font-size: inherit;
}